<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/Content/General.css" rel="stylesheet" />

</head>
<body>
    <header class="row">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#"><img src="~/Imagenes/logo.png" height="25"/></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        @Html.ActionLink("Principal", "Index", "Vuelo", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Consultar Reserva", "Index", "Reserva", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contacto", "Index", "Contacto", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                </ul>
            </div>

        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <!-- PIE DE PÁGINA  -->
        <footer class="row bg-dark justify-content-center mt-3 p-3">
            <h5 class="text-center text-white">Desarrollado por Leandro Burbano Todos los derechos reservados</h5>
        </footer>

    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>